//BREAKPOINTS
$medium: 900px;
$small: 576px;

//COLORS
$btn-background-color: rgba(222, 232, 235, 0.607);
$light-border: #8499e7;

//PROJECTS SECTION
.project-content-section{
   
    p, h3{
        margin: 10px 0;
    }

    .brief-wrapper{
        display: flex;
        align-items: center;
    }

    
    .logo-image-wrapper{
        height: 150px;
        width: 400px;
        margin-left: 20px;
    }

    .tucasa{
        background-color: rgba(43, 54, 28, 1);
        padding: 10px;
        border-radius: 10px;
    }
    
    .logo{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }


    .link{
        color: $light-border;
    }
    
    .mockups-section{
        display: flex;
        width: 100%;
        
        .container{
            width: 500px;
            height: 500px;
            margin: 10px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }



    @media screen and (max-width: $medium) {

        .mockups-section{
            flex-direction: column;

            .container{
                width: 96%;
            }
        }
    }

    @media screen and (max-width:$small){
        .brief-wrapper{
            flex-direction: column;
        }
    }
}


/* HERO IMAGES */
#eco-hero-img, #hb-hero-image{
    height: 400px;

    img{
        height: 100%;
        object-fit: cover;
    }
}

//ABOUT PAGE
#about{
    width: 75%;
    margin: auto;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about-me-wrapper{
    margin: 20px 0;

    .right-align{
        text-align: right;
    }
    

    .about-me-paragraph-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img-wrapper{
            width: clamp(150px, 50vw,250px);
            margin: 20px;

            img{
                height: 100%;
                width: 100%;
                object-fit: fill;
            }
        }

        .paragraph-wrapper{
            max-width: 75%;
        }
    }

    .inverted{
        flex-direction: row-reverse;
    }
}



//MEDIA SCREEN

@media screen and (max-width: $medium){

    .about-me-wrapper{

        .right-align, h2{
            text-align: center;
        }
        .about-me-paragraph-wrapper{
            flex-direction: column;
        }

    }
    

}






